<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap";

        customFont.type = "text/css";
        customFont.rel = "stylesheet";

        document.head.appendChild(customFont);
    }());
</script>

<script src="https://unpkg.com/shiki"></script>

<script>
    if (document.querySelector("code[data-lang*='ql']")) {
        shiki
            .getHighlighter({
                theme: 'github-dark',
                langs: [
                    {
                        id: 'codeql',
                        scopeName: 'source.ql',
                        path: '/languages/codeql.tmLanguage.json',
                        samplePath: 'codeql.sample',
                        aliases: ['ql']
                    }
                ]
            })
            .then(highlighter => {
                for (codeElement of document.querySelectorAll("code[data-lang]")) {
                    try {
                        let prev = codeElement.textContent
                        let code = highlighter.codeToHtml(prev, { lang: codeElement.dataset.lang.toString() })
                        codeElement.parentNode.innerHTML = code
                    } catch(err) {
                        console.log(err)
                    }
                }
                for (shikiElement of document.querySelectorAll("pre[class='shiki']")) {
                    shikiElement.parentNode.parentNode.replaceChild(
                        shikiElement, shikiElement.parentNode
                    )
                }
            })
    }
</script>